* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Note there a few "reset" styles given in reset.css. Review those before you begin */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
/* HEADER */
.page-header {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: center;
  align-content: center;
  background-color: #030303;
  padding: 10px 0;
}
.logo {
  font-size: 0.8rem;
  cursor: pointer;
  grid-area: 1/2/2/3;
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: "Josefin Slab", serif;
  letter-spacing: 0.4rem;
  background: #c02425;
  background: -webkit-linear-gradient(to right, #f0cb35, #c02425);
  background: linear-gradient(to right, #f0cb35, #c02425);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-align: center;
}
.nav-toggle {
  background-color: transparent;
  border: none;
  width: 50%;
  height: auto;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}
.nav-toggle > svg {
  height: 40%;
  max-width: 100%;
}
.navigation {
  display: block;
  position: absolute;
  top: 0px;
  background-color: #030303;
  z-index: -1;
}
.navigation .active {
  z-index: 8;
}
#mob_menu {
  z-index: 10;
}
.navigation > .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navigation > .menu > li {
  padding: 20px 60px;
}
.navigation > .menu > li > a {
  font-size: 1.3rem;
  text-decoration: none;
  color: #b89b2b;
}
.submenu {
  display: none;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: #030303;
}
.submenu > li {
  padding: 20px 60px;
}
.submenu > li > a {
  font-size: 1.3rem;
  text-decoration: none;
  color: #b89b2b;
}
.sub:hover .submenu {
  display: flex;
}
#find {
  display: inline-block;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid gold;
  font-size: 1rem;
  width: 90%;
  color: gold;
  background-image: url("../img/SearchIcon.png");
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 10px 14px;
  padding: 12px 10px 12px 30px;
}
#find:focus {
  outline: none;
  background-color: transparent;
}
.searchbtn {
  display: none;
}
.your-products {
  display: none;
}
@media only screen and (min-width: 760px) {
  .logo {
    font-size: 1.3rem;
    justify-content: center;
    padding-left: 20px;
  }
  .nav-toggle {
    display: none;
  }
  .search {
    justify-content: center;
    align-self: center;
  }
  #find {
    width: 80%;
    padding: 12px 20px 12px 40px;
  }
  #find:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.08);
  }
  .your-products {
    display: flex;
    grid-area: 1/1/2/2;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    list-style-type: none;
  }
  .your-products > li {
    padding: 20px;
  }
  .your-products > li > a {
    color: #f0cb35;
  }
  .your-products > li:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.5);
  }
  .your-products > li > a:hover {
    color: #b89b2b;
  }
  .navigation {
    display: block;
    grid-area: 2/1/3 / span 3;
    z-index: 1;
    position: relative;
    top: 0;
  }
  .submenu {
    display: none;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: #030303;
  }
  .submenu > li {
    padding: 20px 60px;
  }
  .submenu > li > a {
    font-size: 1.3rem;
    text-decoration: none;
    color: #b89b2b;
  }
  .submenu > li > a:hover {
    color: rgb(218, 218, 218);
  }
  .navigation > .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .navigation > .menu > li {
    padding: 20px 60px;
  }
  .navigation > .menu > li > a {
    font-size: 1.3rem;
    text-decoration: none;
    color: #b89b2b;
  }
  .navigation > .menu > li > a:hover,
  .navigation > .menu > .submenu > li > a:hover {
    color: rgb(218, 218, 218);
  }
  .sub:hover .submenu {
    display: flex;
  }
}
@media only screen and (max-width: 400px) {
  .logo {
    font-size: 0.6rem;
  }
  #find {
    display: none;
  }
  .searchbtn {
    display: inline-block;
    border: none;
    background-color: transparent;
    background-image: url("../img/SearchIcon.png");
    background-repeat: no-repeat;
    background-size: 20px 24px;
    background-position: center center;
    height: 100%;
    width: 100%;
    justify-content: center;
  }
  .searchbtn:focus {
    outline: none;
  }
}
/* HEADER ENDS */
/* --------------------------------------------------------------------------------------------*/
/* MAIN CONTENT */
.filter-options {
  display: none;
}
.filter-list {
  list-style-type: none;
}
.filters {
  grid-area: filters;
  display: grid;
  font-family: "Lato", sans-serif;
  background-color: #303030;
  padding: 20px 10px;
  color: white;
}
.filters > fieldset {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.filters > h2 {
  grid-area: 1/1/2/3;
  text-align: center;
  font-family: "Josefin Slab", serif;
  letter-spacing: 0.18rem;
}
.filters > button {
  background-color: #030303;
  color: #f0cb35;
  border: none;
  border-radius: 50px;
  padding: 5px 0;
}
.filters > a {
  display: none;
}
#sort {
  background-color: #030303;
  color: #f0cb35;
  border: none;
  border-radius: 50px;
  padding: 3px 5px;
}
#sort:focus {
  outline: none;
}
.heading {
  grid-area: heading;
  text-align: center;
  font-family: "Josefin Slab", serif;
  letter-spacing: 0.18rem;
  background-color: #222222;
  padding: 1.2em;
}
.sorting {
  grid-area: 2/2/3/3;
  justify-self: right;
  margin-right: 5px;
  vertical-align: middle;
  border: none;
  outline: none;
}
.sorting > label {
  font-family: "Lato", sans-serif;
  margin: 5px 3px;
  font-size: 1.1rem;
  vertical-align: middle;
}
#sort > option {
  border: none;
  border-radius: inherit;
  padding: inherit;
}
.results {
  grid-area: results;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: 0 5%;
  background-color: aliceblue;
  color: #502400;
  font-family: "Lato", sans-serif;
  font-weight: 900;
}
.imgWrapper {
  width: 100%;
  height: auto;
}
.subheading {
  text-align: center;
  font-family: "Josefin Slab", serif;
  letter-spacing: 0.18rem;
  padding: 1.2em;
}
.product {
  margin-bottom: 2em;
  border-bottom: 3px solid black;
  border-top: 1px solid black;
  padding: 0.2em 1em;
}
.product-it {
  color: #502400;
  text-decoration: none;
}
.product-it:hover {
  text-decoration: underline;
}
.product-brief {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.product-brief > data {
  align-self: flex-start;
  font-weight: bold;
}
.product-brief > data::before {
  content: "$";
}
.product > header > p > a {
  text-decoration: none;
  font-style: italic;
  color: #f0cb35;
}
.product-rating {
  display: flex;
  align-items: center;
  padding: 0.3em 0;
}
.product-rating > dd {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.4em;
}
.product-choice {
  display: flex;
  margin-bottom: 1em;
  padding: 2rem;
}
.product-choice fieldset > ul,
.product-choice fieldset > ol {
  display: flex;
  gap: 2em;
}
.product-choice > fieldset > ul > li > label > input[type="radio"] {
  color: #bb9e2a;
}
.product > footer > button {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #502400;
  margin: 0 0.5em;
}
.product > footer > button:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 2px 10px 2px #222222;
}
.product > footer > button:focus {
  outline: none;
}
.product > footer > button > i {
  font-size: 1.2rem;
  color: #502400;
}
.pagination {
  grid-area: pagination;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2em;
  font-size: 1.1rem;
}
.pagination ol {
  display: flex;
}
.pagination ol li {
  padding: 0 0.3em;
}
.pagination ol li a {
  color: inherit;
}
.products {
  background-color: #2c2c2c;
  display: grid;
  grid-template-areas: "heading heading heading" "filters filters filters" "results results results" "pagination pagination pagination";
  justify-content: center;
  align-content: center;
  width: 100%;
  color: #ce5e02;
}
.pages {
  list-style-type: none;
}
@media only screen and (min-width: 760px) {
  .products {
    display: grid;
    grid-template-areas: "heading heading heading" "filters results results" "pagination pagination pagination";
  }
  .filters {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .filters > button {
    display: none;
  }
  .filter-options {
    display: block;
    order: 2;
  }
  .filters > a {
    display: none;
  }
  .sorting {
    order: 1;
  }
  .results {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    width: 100%;
    height: auto;
    font-size: 0.8rem;
    margin-left: 0%;
  }
  .productCard {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.2em;
    margin: 1em;
    border: 1px solid black;
  }
}
@media only screen and (max-width: 400px) {
  .heading {
    font-size: 0.5rem;
    text-align: center;
  }
  .subheading {
    font-size: 1rem;
    text-align: center;
  }
  .products {
    display: flex;
    flex-direction: column;
  }
  .product {
    max-width: 100%;
    font-size: 0.8rem;
  }
  .product-choice {
    flex-direction: column;
  }
  .filters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
  }
  .sorting {
    font-size: 0.6rem;
  }
  .sorting > label {
    font-size: 0.8rem;
  }
  #sort {
    font-size: 0.8rem;
  }
  .filters > button {
    display: none;
  }
  .filters > a {
    display: block;
    align-self: center;
    justify-self: center;
    margin: 0.4em 0;
    color: #f0cb35;
    text-decoration: none;
  }
  .filters > a:hover {
    color: #bb9e2a;
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
  }
  .pagination {
    font-size: 0.7rem;
  }
  .product > footer > button > i {
    font-size: 0.8rem;
  }
}
/* MAIN CONTENT ENDS */
/* --------------------------------------------------------------------------------------------*/
/* FOOTER */
.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #030303;
}
.logo-footer {
  font-size: 0.8rem;
  cursor: pointer;
  text-align: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  font-family: "Josefin Slab", serif;
  letter-spacing: 0.4rem;
  color: rgb(218, 218, 218);
}
.social {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.8em 0;
}
.social > li > a {
  text-decoration: none;
  color: #f0cb35;
}
.legal-nav {
  width: 100%;
}
.legal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 0.5rem;
}
.legal > li {
  padding: 1.1rem 0.3rem;
}
.legal > li > a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #f0cb35;
}
.copyright {
  width: 100%;
  background-color: #2c2c2c;
  text-align: center;
  padding: 0.3em 0;
  margin: 0;
  font-size: 1rem;
  color: rgb(218, 218, 218);
}
@media only screen and (min-width: 760px) {
  .page-footer {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .logo-footer {
    grid-area: 1/1/2 / span 3;
    text-align: center;
  }
  .social {
    grid-area: 2/1/3 / span 3;
    align-self: center;
    justify-content: center;
    width: 100%;
  }
  .social > li {
    padding: 0 0.5rem;
  }
  .legal {
    grid-area: 3/1/4 / span 3;
    align-self: center;
    justify-content: center;
    width: 100%;
  }
  .legal > li {
    padding: 1.1rem 0.5rem;
  }
  .legal > li > a {
    font-size: 1rem;
  }
  .copyright {
    grid-area: 4/1/5 / span 3;
  }
}
@media only screen and (max-width: 400px) {
  .logo-footer {
    font-size: 0.7rem;
    text-align: center;
  }
}
/* FOOTER ENDS*/
/* --------------------------------------------------------------------------------------------*/
